* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.pad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.pad {
    width: 500px;
    height: 500px;
    display: flex;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.cell-row {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.cell-column {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#size-menu {
   padding: 4px 8px;
}


.header {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 32px;
    align-items: center;
    padding: 10px;
    width: 400px;
    margin: 50px;
}

.sub-text {
    font-size: 20px;
}

.size-container {
    display: flex;
    gap: 20px;
}